.top-bar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 12px;
}

.top-bar img {
	border-radius: 50%;
	width: 40px;
}

.about-user {
	display: flex;
}

.user-details {
	padding-left: 10px;
}

.user-details p {
	color: gray;
}

.left-container {
	position: absolute;
	left: 18vw;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}

.table-container {
	background-color: white;
	padding: 1.55rem;
	width: 96%;
	min-height: 83vh;
	margin: 25px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.table-container h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 1.55rem;
}

.search-container {
	align-items: baseline;
}

.search-container .text-field {
	padding-left: 2.6rem;
	width: 22rem;
	height: 2.35rem;
}

.search-container .search-button {
	position: absolute;
	z-index: 2;
	display: block;
	height: 2.35rem;
	line-height: 2.8rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}

.search-container input, .search-button {
	outline: none;
	border: none;
}

.button-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	cursor: pointer;
}

.button-icon {
	align-items: center;
	vertical-align: middle;
	font-size: 20px;
}

.right-buttons-container button {
	margin-left: 1rem;
	width: 9.5rem;
	height: 2rem;
	border-radius: 5px;
	border: transparent;
	outline: none;
	cursor: pointer !important;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.right-buttons-container button span {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	line-height: 1rem;
	padding-right: 15px;
}

.make {
	font-size: 12px;
}

.attendence-counts {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.total-counts {
	display: inline-block;
	align-items: center;
	height: 6.25rem;
	width: 13rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
}

.working {
	background-color: #dcf0ff;
}

.absentees {
	background-color: #dcf9ff;
}

.approved-leaves {
	background-color: #ddffdc;
}

.halfday-leaves {
	background-color: #eefbc3;
}

.late-comers {
	background-color: #f9f0c3;
}

/* gre #F2F4F6  */

.table {
	background-color: rgb(231, 231, 231);
}

.modal-class {
	position: relative;
}

html, body {
	overflow: hidden;
}