:root {
	--primaryBlue: #035abc;
}

.modal {
	z-index: 20;
	outline: none;
	background-color: white;
	position: absolute;
	right: 0;
	top: 0rem;
	width: 40%;
	min-width: 300px;
	height: 90vh;
	border-radius: 20px 0 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.51);
	-webkit-box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.51);
	-moz-box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.51);
}

.close-icon {
	position: absolute;
	top: 15px;
	left: 10px;
	align-self: flex-start;
	color: gray;
	cursor: pointer;
}

.modal-container {
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	padding: 30px;
}

.modal-container h1 {
	text-transform: uppercase;
	color: var(--primaryBlue);
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 5px;
	font-weight: 600;
}

.input-conatainer, .buttons {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.input-conatainer .labels {
	width: 25rem;
	height: 20px;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	text-transform: capitalize;
	margin-top: 2px;
}

.time-container {
	display: flex;
}

.time-container .input-conatainer input, .time-container .input-conatainer label {
	width: 11.5rem !important;
}

.input-conatainer input {
	width: 25rem;
	min-width: 70px;
	height: 35px;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	outline: var(--primaryBlue);
	border-radius: 10px;
	padding: 0 7px;
	border-color: var(--primaryBlue);
}

button {
	width: 25rem;
	font-size: 16px;
	text-transform: capitalize;
	border-radius: 10px;
	border: transparent;
	outline: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	height: 35px;
	cursor: pointer;
	color: black;
}

.save-button {
	background-color: var(--primaryBlue);
	color: white;
}

.cancel-button {
	background-color: #b6b6b6;
}

.error {
	color: rgb(255, 82, 82);
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 25rem;
}